
h1 {

    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


table, th, td {
    border: 1px solid #000000;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #747171; 
    color: #fffdfd;
}

body {

    background-color:bisque
}