
        
        h1 {

            text-align: center;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            background-color: #bdc3c7;
            color: aliceblue;
            font-size: 50px;
        }

        h2 {


                text-align: center;
        }

        body {

            background-color: antiquewhite;
        }

        p {

            text-align: center;
        }

        .canto {

            text-align: justify;
        }

        .secundario {

            text-align: justify;
        }

        table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #000000;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #747171; 
    color: #fffdfd;
}


.img {

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.proxima {
    text-align: justify;
}




